<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta
name="viewport"
content="width=device-width, initial-scale=1.0"
>

<title>
Dashboard
</title>

<link
rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}"
>

</head>

<body>

<h1>
Prediction Dashboard
</h1>

<h2>
Total Predictions:
{{ total_predictions }}
</h2>

<img
src="{{ url_for('static', filename='chart.png') }}"
alt="Prediction Chart"
width="600"
>

<br><br>

<a href="/">
Back to Home
</a>

</body>

</html>