<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Profile</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >

</head>

<body>

    <h1>
        Profile Page
    </h1>

    <h2>
        {{ username }}
    </h2>

    <h3>
        Skills
    </h3>

    <ul>
        {% for skill in skills %}
        <li>{{ skill }}</li>
        {% endfor %}
    </ul>

    <hr>

    <a href="/">Home</a>
    <a href="/profile">Profile</a>

</body>

</html>