<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>Add Student</title>

</head>

<body>

    <h1>Add Student</h1>

    <form
        action="/add"
        method="POST"
    >

        <input
            type="text"
            name="name"
            placeholder="Enter Name"
            required
        >

        <br><br>

        <input
            type="number"
            name="age"
            placeholder="Enter Age"
            required
        >

        <br><br>

        <button type="submit">
            Save
        </button>

    </form>

    <br>

    <a href="/records">
        View Records
    </a>

</body>

</html>